<section id="untersuchungen" class="page-section bg-light">
    <div class="container-fluid p-0">
        <h2 class="text-center mt-0">Die beste Diagnostik für Sie</h2>
        <hr class="divider" />
        <div class="row g-0">
            {{ range first 6 (where .Site.RegularPages "Section" "untersuchungen") }}
            {{ $image := resources.Get .Params.image }}
            {{ $resized := $image.Resize "600x q80 webp" }}
            {{ $fullimage := resources.Get .Params.fullimage }}
            {{ $fullresized := $fullimage.Resize "1600x q90 webp" }}
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{{ $fullresized.RelPermalink }}" data-lightbox="portfolio" title="{{ .Title }}">
                    <img class="img-fluid" src="{{ $resized.RelPermalink }}" alt="{{ .Title }}" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">{{ .Params.category | default "Category" }}</div>
                        <div class="project-name">{{ .Title }}</div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
