{{/* Get content from the specified section */}}
{{ $section := .section }}
{{ with .Site.GetPage (printf "/sections/%s" $section) }}

    {{/* Get the image URL */}}
    {{ $bgImageURL := "" }}
    {{ $bgImage := resources.Get (.Params.bgImage | safeCSS) }}
    {{ if $bgImage }}
        {{ $resizedImage := $bgImage.Resize "1920x q90" }}
        {{ $bgImageURL = $resizedImage.RelPermalink }}
    {{ else }}
        {{ $bgImageURL = .Params.bgImage | safeCSS | relURL }}
    {{ end }}

    <section id="{{ $section }}" class="position-relative w-100 min-vh-100 d-flex align-items-center {{ .Params.bgClass | safeCSS }}">
        <div class="container">
            <div class="row gx-5 align-items-center">
                
                <!-- Left: Headline and Button (Centered) -->
                <div class="col-lg-6 text-center ">
                    <h1 class="fw-bold h2-lg" style="margin-top: min(5vw, 40px); margin-bottom: min(5vw, 40px);">
                        {{ .Params.headline | safeHTML }}
                    </h1>
                    {{ if .Params.buttonText }}
                        <div class="d-flex justify-content-center mt-2">
                            <a class="btn btn-xl" href="{{ .Params.buttonLink | safeCSS }}" 
                               style="background-color: {{ .Params.buttonBg | default "var(--sv-primary-darker)" | safeCSS }}; color: {{ .Params.buttonColor | default "var(--sv-offwhite)" | safeCSS }}; border-color: {{ .Params.buttonBorderColor | default (.Params.buttonBg | default "var(--sv-primary-darker)") | safeCSS }};">
                                {{ .Params.buttonText | safeCSS }}
                            </a>
                        </div>
                    {{ end }}
                </div>

                <!-- Right: Image with dynamic top margin -->
                <div class="col-lg-6 d-flex justify-content-center" style="margin-top: min(11vw, 90px);">
                    <img src="{{ $bgImageURL | safeCSS }}" alt="" class="img-fluid rounded shadow-lg">
                </div>
            </div>
            
            <!-- Full Content Below Image and Headline -->
            <div class="row mt-5" style="margin-bottom: min(5vw, 40px);">
                <div class="col-lg-11 mx-auto text-start {{ .Params.bgClass | safeCSS }} p-4 ">
                    <div class="-75 lead">
                        {{ .Content | safeHTML }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{{ end }}
