<section class="page-section bg-primary-darker" id="wissen-macht-gesund">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Wissen macht gesund</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 lead mb-4" >Das Leben ist manchmal unbarmherzig und verlangt uns mehr ab, als der Gesundheit gut tut. Wer seinen Lebenswandel nicht ändern kann, muss besonders <b>gut auf sich achten</b>. <br><br>Regelmässige, individuell abgestimmte Vorsorge schützt vor bösen Überraschungen und gibt Ihnen das gute Gefühl, auf der sicheren Seite zu sein.  <br><br>Seit es möglich ist, hochauflösende MRT-Untersuchungen des ganzen Körpers durchzuführen, ist bei der <b>Früherkennung</b> ein neues Zeitalter angebrochen. Vor allem bei Krebserkrankungen haben MRT-Untersuchungen schon tausende Leben gerettet. <br><br><b>Und das ist nur der Anfang.</b><br>&nbsp;</p>
                <a class="btn btn-light btn-xl" href="#untersuchungen">Die beste Diagnostik</a>
            </div>
        </div>
    </div>
</section>


