<!-- Pass context correctly -->
{{ partial "section-hero-img.html" (dict "section" "hero-bleiben-sie-gesund" "Site" .Site) }}
{{ partial "section-right-img-2_3-5-freigestellt.html" (dict "section" "wissen-macht-gesund" "Site" .Site) }}
{{ partial "section-left-img-2_3-5-img-shadow.html" (dict "section" "uebersicht-schaffen-das-ganzkoerper-mrt" "Site" .Site) }}
{{ partial "section-right-img-2_3-5-img-shadow.html" (dict "section" "ganzkoerper-mrt-bei-swissvital" "Site" .Site) }}
{{ partial "section-img.html" (dict "section" "mrt-untersuchung-so-laeuft-es-ab" "Site" .Site) }}
{{ partial "section-left-img-2-1.html" (dict "section" "wer-profitiert-von-einem-ganzkoerper-mrt" "Site" .Site) }}
{{ partial "section-right-img-2_3-5-freigestellt.html" (dict "section" "selbsttest-ihr-erster-schritt-–-ohne-kosten" "Site" .Site) }}
{{ partial "section-right-img-2_3-5-freigestellt.html" (dict "section" "datenschutz" "Site" .Site) }}
