<section class="page-section bg-secondary" id="termin">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Schnelle Termine</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 lead mb-4">Bei uns kommmen Sie <b>schnell</b> zu Ihrem Trmin. <br><br>Geben Sie einfach «dringend» bei der Reservierung an, dann bekommen Sie den frühestmöglichen Termin. <br><br>Vielleicht sogar noch <b>heute</b>.</p>
                <a class="btn btn-light btn-xl" href="#terminbuchung">Termin buchen</a>
            </div>
        </div>
    </div>
</section>

<section class="page-section" id="termin">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Termin</h2>
            ...
        </div>
    </div>
</section>
