<!-- Footer -->
<footer class="bg-dark text-light text-lg-start">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between border-bottom" style="border-color: rgba(255, 255, 255, 0.1);">
  </section>

  <!-- Section: Links -->
  <section class="bg-dark">
    <div class="container text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3 text-md-start">
        <!-- Company Info -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-start">
          <div class="mb-3">
            <img src="/img/logo/swiss-vital-logo-red.svg" alt="Swiss Vital Logo" style="height: 50px;margin-left: 0.3rem;">
          </div>
          <p class="text-uppercase fw-bold mb-4">Metarad AG</p>
          <p>
            Zürichbergstrasse 146<br>8044 Zürich<br>Schweiz
            <br><a href="mailto:info@swiss-vital.ch" class="text-light">service@swiss-vital.ch</a>
          </p>
        </div>

        <!-- Locations -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-start">
          <p class="text-uppercase fw-bold mb-4">Standorte</p>
          <p><a href="#!" class="text-light">Zürich</a></p>
          <p><a href="#!" class="text-light">Bern</a></p>
          <p><a href="#!" class="text-light">Basel</a></p>
        </div>

        <!-- Links -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-start">
          <p class="text-uppercase fw-bold mb-4">Links</p>
          <p><a href="#!" class="text-light">Impressum</a></p>
          <p><a href="#!" class="text-light">Datenschutzerklärung</a></p>
          <p><a href="#!" class="text-light">AGB</a></p>
          <p><a href="#!" class="text-light">Kontakt</a></p>
          <p><a href="#!" class="text-light">Termin</a></p>
        </div>

        <!-- Untersuchungen -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-start">
          <p class="text-uppercase fw-bold mb-4">Untersuchungen</p>
          <p><a href="#!" class="text-light">Blutanalyse</a></p>
          <p><a href="#!" class="text-light">Hormontest</a></p>
          <p><a href="#!" class="text-light">Stoffwechselanalyse</a></p>
          <p><a href="#!" class="text-light">Vitalstoff-Check</a></p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Full-Width Copyright with Lighter Background -->
  <div class="w-100 text-center p-4" style="background-color: rgba(255, 255, 255, 0.1);">
    © 2025 Copyright:
    <a class="text-light fw-bold" href="https://swiss-vital.ch/">Swiss Vital</a>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    new SimpleLightbox({elements: '.portfolio-box'});
  });
</script>
