{{ $favicon := resources.Get "favicon.ico" }}
{{ $masthead := resources.Get "img/bg-masthead.jpg" }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="author" content="{{ .Site.Params.author }}">
<title>{{ .Site.Title }}</title>

<!-- Favicon -->
{{ if $favicon }}
  <link rel="icon" type="image/x-icon" href="{{ $favicon.RelPermalink }}">
{{ end }}

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Questrial&family=Proza+Libre:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
  document.fonts.ready.then(function() {
    console.log('Fonts loaded successfully');
  }).catch(function(error) {
    console.error('Font loading failed:', error);
  });
</script>

<!-- SimpleLightbox plugin CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet">

<!-- Core Theme CSS (Bootstrap included) -->
{{ $styles := resources.Get "css/root.css" | resources.ExecuteAsTemplate "css/root.css" . | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

{{ $styles := resources.Get "css/styles.css" | resources.ExecuteAsTemplate "css/styles.css" . | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

{{ $svStyles := resources.Get "css/sv-styles.css" | resources.ExecuteAsTemplate "css/sv-styles.css" . | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $svStyles.RelPermalink }}">

{{ $formsStyles := resources.Get "css/sv-forms.css" | resources.ExecuteAsTemplate "css/sv-forms.css" . | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $formsStyles.RelPermalink }}">

{{ $accordionStyles := resources.Get "css/sv-accordion.css" | resources.ExecuteAsTemplate "css/sv-accordion.css" . | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $accordionStyles.RelPermalink }}">

{{ $buttonStyles := resources.Get "css/sv-buttons.css" | resources.ExecuteAsTemplate "css/sv-buttons.css" . | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $buttonStyles.RelPermalink }}">

{{ $navStyles := resources.Get "css/nav.css" | resources.ExecuteAsTemplate "css/nav.css" . | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $navStyles.RelPermalink }}">
