{{/*
  This partial expects a dictionary with:
    - context: the parent context (e.g., .)
    - section: the content section to iterate over (e.g., "quality", "services")
*/}}

<section id="iconized">

  <!-- Load Material Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300" rel="stylesheet">

  
  <div class="container px-4 px-lg-5">
 
    {{ $items := sort (where .context.Site.RegularPages "Section" .section) ".Weight" }}
    {{ $count := len $items }}

    <div class="row gx-4 gx-lg-5 justify-content-center">
      {{ range $index, $page := $items }}
      {{ if eq (mod $index 3) 0 }}
      <!-- Start new row for every 3rd item -->
      <div class="w-100"></div>
      {{ end }}
      
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2">
            <span class="material-symbols-outlined">
              {{ with $page.Params.icon }}{{ . | safeHTML }}{{ else }}help{{ end }}
            </span>
          </div>
          <h3 class="h2 mb-4">{{ $page.Title | safeHTML }}</h3>
          <p class="mb-0">{{ $page.Params.description | safeHTML }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
