{{/* Get content from the specified section */}}
{{ $section := .section }}
{{ with .Site.GetPage (printf "/sections/%s" $section) }}
    <section id="{{ $section }}" class="page-section {{ .Params.bgClass }}"
        {{ if .Params.bgImage }} 
            style="background: url('{{ .Params.bgImage | relURL }}') center/cover;" 
        {{ else }} 
            style="background-color: var({{ .Params.bgColor }});" 
        {{ end }}>
        <div class="container px-4 px-lg-5 justify-content-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">{{ .Params.headline }}</h2>
                    <hr class="divider divider-light" />
                    <div class="text-white-75 lead mb-4">
                        {{ .Content }}
                    </div>
                    {{ if .Params.buttonText }}
                    <a class="btn btn-light btn-xl mt-3" href="{{ .Params.buttonLink | relURL }}">
                        {{ .Params.buttonText }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
{{ end }}
