{{ define "main" }}

  <!-- 1) Wissen macht gesund -->
  {{ $wissen := .Site.GetPage "/home/01-wissen-macht-gesund" }}
  {{ if $wissen }}
    {{ $partialName := $wissen.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $wissen }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $wissen.Title }}&quot;</div>
    {{ end }}
  {{ end }}

  <!-- 2) Leistungen Accordion Section -->
  {{ $leistungen := .Site.GetPage "/home/02-leistungen" }}
  {{ if $leistungen }}
    {{ $partialName := $leistungen.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $leistungen }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $leistungen.Title }}&quot;</div>
    {{ end }}
  {{ else }}
    <div class="alert alert-danger">Section not found: /home/02-leistungen</div>
  {{ end }}

  <!-- 3) Frageboegen iconized -->
  {{ $frageboegen := .Site.GetPage "/home/03-frageboegen" }}
  {{ if $frageboegen }}
    {{ $partialName := $frageboegen.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $frageboegen }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $frageboegen.Title }}&quot;</div>
    {{ end }}
  {{ else }}
    <div>Section not found: /home/03-frageboegen</div>
  {{ end }}

  <!-- 4) Ablauf -->
  {{ $ablauf := .Site.GetPage "/home/04-ablauf" }}
  {{ if $ablauf }}
    {{ $partialName := $ablauf.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $ablauf }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $ablauf.Title }}&quot;</div>
    {{ end }}
  {{ else }}
    <div>Section not found: /home/04-ablauf</div>
  {{ end }}

  <!-- 5) Selbsttest Ihr erster Schritt -->
  {{ $selbsttest := .Site.GetPage "/home/05-selbsttest-ihr-erster-schritt-ohne-kosten" }}
  {{ if $selbsttest }}
    {{ $partialName := $selbsttest.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $selbsttest }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $selbsttest.Title }}&quot;</div>
    {{ end }}
  {{ end }}

  <!-- 6) MRT-Untersuchung so laeuft es ab -->
  {{ $mrt := .Site.GetPage "/home/06-umfassend-vorgesorgt" }}
  {{ if $mrt }}
    {{ $partialName := $mrt.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $mrt }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $mrt.Title }}&quot;</div>
    {{ end }}
  {{ end }}

  <!-- 7) Datenschutz -->
  {{ $datenschutz := .Site.GetPage "/home/07-datenschutz" }}
  {{ if $datenschutz }}
    {{ $partialName := $datenschutz.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $datenschutz }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $datenschutz.Title }}&quot;</div>
    {{ end }}
  {{ end }}

  <!-- 8) Termin buchen -->
  {{ $termin := .Site.GetPage "/home/09-termin-buchen" }}
  {{ if $termin }}
    {{ $partialName := $termin.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $termin }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $termin.Title }}&quot;</div>
    {{ end }}
  {{ end }}

  <!-- 9) Standorte -->
  {{ $standorte := .Site.GetPage "/home/10-standorte" }}
  {{ if $standorte }}
    {{ $partialName := $standorte.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $standorte }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $standorte.Title }}&quot;</div>
    {{ end }}
  {{ end }}

  <!-- 10) Partner -->
  {{ $partner := .Site.GetPage "/home/11-partner" }}
  {{ if $partner }}
    {{ $partialName := $partner.Params.partial }}
    {{ if $partialName }}
      {{ partial $partialName $partner }}
    {{ else }}
      <div>No partial found in front matter for &quot;{{ $partner.Title }}&quot;</div>
    {{ end }}
  {{ end }}

{{ end }}