{{/* Inline accordion ITEM shortcode */}}

{{/* Generate IDs based on the page and position */}}
{{ $accordionID := printf "accordion-%s" (.Page.File.ContentBaseName | urlize) }}
{{ $itemID := printf "%s-%d" $accordionID .Ordinal }}
{{ $headingID := printf "heading-%s" $itemID }}
{{ $collapseID := printf "collapse-%s" $itemID }}

<div class="accordion-item">
  <h2 class="accordion-header" id="{{ $headingID }}">
    <button class="accordion-button collapsed" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#{{ $collapseID }}" 
            aria-expanded="false" 
            aria-controls="{{ $collapseID }}">
      {{ .Get "title" }}
    </button>
  </h2>
  <div id="{{ $collapseID }}" 
       class="accordion-collapse collapse" 
       aria-labelledby="{{ $headingID }}" 
       data-bs-parent="#{{ $accordionID }}">
    <div class="accordion-body">
      {{ .Inner | markdownify }}
    </div>
  </div>
</div>